
@{
    ViewData["Title"] = "LoginOk";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




    <body>
        <div class="jumbotron">
        <h1>Giriş Yapılıyorrr...</h1>
    </div>
    </body>

<script>

    $(function () {
        setTimeout(function () {

            window.location = "/OrderDetail/ListOrderDetails"

        }, 5000)
    })


</script>